{% extends 'base.html.twig' %}

{% block title %}Campaign List{% endblock %}

{% block body %}
<div class="container">
        <h2 class="text-center mt-5 mb-3">Campaign Contact List</h2>
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Is SMS Sent</th>
                            <th>Is Email Sent</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for campaignContact in campaignContacts %}
                        <tr>
                            <td>{{ campaignContact.contact.firstName }}</td>
                            <td>{{ campaignContact.contact.lastName }}</td>
                            <td>{{ (campaignContact.isSmsSent) ? 'Yes' : 'No' }}</td>
                            <td>{{ (campaignContact.isEmailSent) ? 'Yes' : 'No' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
